*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
  background-color: #dbe6e9;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #25434e;

    overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1, .h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    line-height: 53px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

h2, .h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  line-height: 35px;
  font-weight: 700;
    margin: 0 0 30px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

.text-link {
  font-weight: 700;
  color: #45abde;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:active {
  color: #2590c6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.container {
  max-width: 1110px;
    width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: block;
  padding: 9px 32px;
  background-color: #45abde;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #61c3f4;
}

.button:active {
  background-color: #2590c6;
}

.button:disabled {
  background-color: #45abde;
  opacity: 0.2;
}

.rub {
  display: inline-block;
  width: 12px;
  height: 13px;
  margin-left: 4px;
  font-size: 0;
  vertical-align: baseline;
  background: url("../img/rub.svg") 0 0 no-repeat;
}

@media screen and (max-width: 1369px) {

    .container {
        max-width: 994px;
    }
}

.hidden {
    display: none;
}

@media screen and (max-width: 1023px) {

    .container {
        max-width: 723px;
    }
}

@media screen and (max-width: 767px) {

    .container {
        max-width: 460px;
        width: auto;
    }
}
