@mixin transition() {
    transition: all ease-in-out .3s;
}

@mixin font($font) {
    // Open Sans
    @if $font == OpenSans-400 {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    @if $font == OpenSans-400-i {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    @if $font == OpenSans-500 {
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    @if $font == OpenSans-500-i {
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    @if $font == OpenSans-600 {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    @if $font == OpenSans-600-i {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    @if $font == OpenSans-700 {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    @if $font == OpenSans-700-i {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    // PT Sans
    @if $font == PTSans-400 {
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    @if $font == PTSans-400-i {
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    @if $font == PTSans-500 {
        font-family: "PT Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    @if $font == PTSans-500-i {
        font-family: "PT Sans", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    @if $font == PTSans-600 {
        font-family: "PT Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    @if $font == PTSans-600-i {
        font-family: "PT Sans", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    @if $font == PTSans-700 {
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    @if $font == PTSans-700-i {
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-style: italic;
    }
}
