// Шрифты

// Open Sans
$OpenSans-400: OpenSans-400;
$OpenSans-400-i: OpenSans-400-i;
$OpenSans-500: OpenSans-500;
$OpenSans-500-i: OpenSans-500-i;
$OpenSans-600: OpenSans-600;
$OpenSans-600-i: OpenSans-600-i;
$OpenSans-700: OpenSans-700;
$OpenSans-700-i: OpenSans-700-i;

// PT Sans
$PTSans-400: PTSans-400;
$PTSans-400-i: PTSans-400-i;
$PTSans-500: PTSans-500;
$PTSans-500-i: PTSans-500-i;
$PTSans-600: PTSans-600;
$PTSans-600-i: PTSans-600-i;
$PTSans-700: PTSans-700;
$PTSans-700-i: PTSans-700-i;

// Фоны
$bg-1: #fff;
$bg-2: #dbe6e9;
$bg-3: #45abde;
$bg-4: #61c3f4;
$bg-5: #2590c6;
$bg-6: #e0f4ff;
$bg-7: #379fd1;
$bg-8: #cad5d8;
$bg-9: #879296;
$bg-10: #333;
$bg-11: #f5f5f5;
$bg-12: #e2e5e6;
$bg-13: #fff3cd;
$bg-14: #856404;
$bg-15: #ffc107;
$bg-16: #e0a800;
$bg-17: #f8f9fa;

// Текст
$text-1: #25434e;
$text-2: #45abde;
$text-3: #2590c6;
$text-4: #879296;
$text-5: #727b7f;
$text-6: #aaa;
$text-7: #6c757d;
$text-white: #fff;
$text-black: #333;
$text-total-black: #000;

// цвета
$gray: #A7B5C0;
$light-gray: #ccc;
$gray-2: #728288;
$yellow: #F3C44A;
$red: #f84646;
$green: #28a745;

// Границы и подчёркивания
$border: #45abde;
$border-red: #f84646;
$border-white: #fff;
$border-gray: #ccc;
$border-light-yellow: #ffeaa7;
$border-light-gray: #e1e6e7;
$border-dark-gray: #444444;
$border-simple-gray: #eee;
$border-light: #cad5d8;
$border-light-blue: #dbe6e9;

// Кнопки
$button-color: #45abde;
$button-color-hover: #61c3f4;
$button-color-active: #2590c6;
$button-color-disabled: #728288;
$button-color-outlined: #e0f4ff;

// Ссылки
$link-color: #45abde;
$link-hover: #ffffff;
$link-active: #2590c6;

// Другое
