.breadcrumbs {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin-top: 20px;
}

.breadcrumb-item {
    font-size: 14px;

    display: flex;
    align-items: center;
    gap: 10px;

    &:not(:first-child) {
        &::before {
            content: "›";
            color: $text-6;
        }
    }

    &--active {
        color: $text-7;

        pointer-events: none;
        cursor: default;
    }

    a {
        text-decoration: none;
        color: $text-2;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 767px) {
    .breadcrumb-item {
        line-height: 16px;
    }
}
