.footer__wrapper {
    margin-top: 120px;

    background-color: $bg-1;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0;
}

.footer__logo {
    display: flex;

    padding: 10px;
    background-color: $bg-2;
    border-radius: 5px;
}

.footer__copyright {
    max-width: 212px;

    & p {
        margin-bottom: 11px;
    }
}

.footer__social {
    width: 140px;
}

.social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social__link {
    width: 27px;
    height: 27px;

    font-size: 0;

    &:hover {
        & path {
            fill: $bg-3;
        }

        & circle {
            stroke: $bg-3;
        }
    }

    &:active {
        & path {
            fill: $bg-5;
        }

        & circle {
            stroke: $bg-5;
        }
    }
}

.logo-academy {
    width: 118px;
    height: 40px;

    display: block;
    font-size: 0;

    &:hover {
        & path {
            fill: $bg-3;
        }
    }

    &:active {
        & path {
            fill: $bg-5;
        }
    }
}

@media screen and (max-width: 767px) {

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        padding: 0 0 30px 0;

        & .nav__categories {
            display: block;
        }
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        max-width: 100%;
        gap: 15px;
        padding: 0;
    }

    .footer__copyright {
        max-width: 100%;

        & p {
            margin-bottom: 0;
            text-align: center;
        }
    }
}
