.nav {
    width: 100%;
    max-width: unset;

    background-color: $bg-1;
    border-bottom: 1px solid $border-light-gray;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 30px 0;

    list-style: none;
}

.nav__item {
    a {
        @include font($PTSans-700);
        color: $text-2;

        position: relative;
        display: block;

        &::before {
            content: "";

            position: absolute;
            bottom: 0;

            width: calc(100% - 20px);
            height: 3px;

            background-color: $bg-12;

            display: none;
        }

        &:hover {
            &::before {
                display: block;
            }
        }

        &:active {
            color: $text-3;
        }
    }

    &--current {
        a {
            color: $nav-current-color;

            &::before {
                display: block;

                background-color: $bg-3;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .nav__categories {
        display: none;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
}
