.nav {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e6e7;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 30px;
}

.nav__item a {
  position: relative;
  display: block;
  padding: 12px 10px;
  font-weight: 700;
  color: #45abde;
  
  &::before {
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    height: 3px;
    background-color: #e2e5e6;
  }
  
  &:hover::before {
    display: block;
  }
  
  &:active {
    color: #2590c6;
  }
}

.nav__item--current a {
  color: rgba(37, 67, 78, 0.6);
  
  &::before {
    display: block;
    background-color: #45abde;
  }
}

.main-footer .nav__item a {
  padding: 23px 10px;
}
