.pagination-list {
    @include font($PTSans-700);
    font-size: 16px;

    display: flex;

    margin: 30px 0 120px 0;
    padding: 22px 20px;

    list-style: none;
    text-align: center;
    background-color: $bg-1;
}

.pagination-item {
    margin-right: 5px;

    & a {
        color: $text-4;
        padding: 5px 10px;

        &:hover {
            color: $text-2;
        }

        &:active {
            color: $text-3;
        }
    }

    &-prev {
        margin-right: auto;
    }

    &-next {
        margin-left: auto;
        margin-right: 0;
    }

    &-active {
        & a {
            color: $text-1;
            background-color: rgba(135, 146, 150, 0.1);

            &:hover {
                color: $text-1;
            }

            &:active {
                color: $text-1;
            }
        }
    }
}
