.pagination-list {
    @include font($PTSans-700);
    font-size: 16px;
    text-align: center;

    display: flex;

    margin: 30px 0 120px 0;
    padding: 22px 20px;

    background-color: $bg-1;

    list-style: none;
}

.pagination-item {
    margin-right: 5px;

    a,
    span {
        color: $text-4;

        padding: 5px 10px;

        &:hover {
            color: $text-2;
        }

        &:active {
            color: $text-3;
        }
    }

    &--prev {
        margin-right: auto;
    }

    &--next {
        margin-left: auto;
        margin-right: 0;
    }

    &--active {
        a {
            color: $text-1;

            background-color: $pagination-active-bg;

            &:hover {
                color: $text-1;
            }

            &:active {
                color: $text-1;
            }
        }
    }

    &--disabled {
        span {
            color: $text-6;

            cursor: default;

            &:hover {
                color: $text-6;
            }
        }
    }
}
