.history__item {
    @include font($PTSans-400);
    font-size: 13px;

    display: flex;
    justify-content: space-between;

    padding: 6px 20px;
    min-width: 310px;

    background-color: $bg-1;
    border-bottom: 1px solid $border-light-blue;

    td {
        display: block;
        width: 33%;
    }

    &:last-child {
        border-bottom: none;
    }
}

.history__name {
    @include font($PTSans-700);
}
