.history {
    width: 100%;
    overflow-x: auto;

    .h3 {
        margin: 18px;
    }
}

.history__wrapper {
    min-width: 300px;
}

.history__item {
    @include font($OpenSans-400);
    font-size: 13px;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    padding: 10px 20px;

    background-color: $bg-1;
    border-bottom: 1px solid $border-light-blue;

    &:last-child {
        border-bottom: none;
    }

    > div {
        width: 25%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.history__name {
    @include font($OpenSans-600);
}

.history__price {
    @include font($OpenSans-600);
    text-align: right;
    color: $text-1;
}

.history__time {
    text-align: right;
    color: $text-5;
}

.history__delete-form {
    margin-left: auto;
}

.history__delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    font-size: 16px;
    line-height: 1;
    color: $text-white;

    background: $red;
    border: none;
    border-radius: 50%;

    cursor: pointer;

    &:hover {
        background: darken($red, 10%);
    }
}
