.history {
    width: 100%;
    overflow-x: auto;
}

.history__wrapper {
    min-width: 300px;
}

.history__item {
    @include font($OpenSans-400);
    font-size: 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    padding: 10px 20px;
    background-color: $bg-1;
    border-bottom: 1px solid $border-light-blue;

    &:last-child {
        border-bottom: none;
    }

    > div {
        width: 33%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.history__name {
    @include font($OpenSans-600);
}

.history__price {
    @include font($OpenSans-600);
    color: $text-1;
    text-align: right;
}

.history__time {
    color: $text-5;
    text-align: right;
}
