.lots {
    padding-top: 50px;
}

.lots__select {
    width: 179px;
    padding: 8px 18px 5px;
    border: 1px solid $border-white;
    border-radius: 0;
    box-sizing: border-box;

    font-size: 13px;
    color: $text-4;

    align-self: flex-start;
    appearance: none;
    background: $bg-1 url("../img/dropdown.svg") 157px 18px no-repeat;

    &:focus {
        border-color: $border;
    }
}

.lots__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    list-style: none;
}

.lot {
    width: 350px;

    background-color: $bg-1;
}

.lot__image {
    width: 350px;
    height: 260px;

    overflow: hidden;
    border-bottom: 1px solid $border-light-gray;

    & img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        display: block;
    }
}

.lot__info {
    padding: 22px 30px 30px;
}

.lot__category {
    font-size: 13px;
    color: $text-4;
}

.lot__title {
    @include font($OpenSans-700);

    font-size: 18px;
    line-height: 24px;

    min-height: 48px;
    margin-bottom: 15px;
}

.lot__state {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lot__amount {
    font-size: 13px;
}

.lot__cost {
    @include font($OpenSans-700);
    font-size: 28px;
    line-height: 28px;

    display: block;
}

@media screen and (max-width: 1369px) {

    .lot {
        max-width: 474px;
        width: 100%;
    }

    .lot__image {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {

    .lot {
        max-width: 339px;
    }
}

@media screen and (max-width: 767px) {

    .lot {
        max-width: 100%;
    }
}
