.preview {
    display: none;
    position: absolute;
}

.preview__remove {
    padding: 5px 10px;
    border: none;

    font-size: 16px;
    line-height: 16px;
    color: $text-white;

    position: absolute;
    right: 0;
    background-color: transparent;
}

.preview__img {
    width: 113px;
    height: 113px;

    & img {
        height: 100%;
    }
}
