.promo {
    padding: 58px 0 35px;
    background: url("../img/promo-bg.png") -39px 17px no-repeat;
}

.promo__text {
    @include font($OpenSans-400);
    font-size: 18px;
    line-height: 28px;

    max-width: 570px;
    margin-bottom: 43px;
}

.promo__list {
    display: flex;
    flex-wrap: wrap;

    width: 542px;
    padding: 0;
    margin: 0;

    list-style: none;
    position: relative;
}

.promo__link {
    @include font($PTSans-700);

    width: 180px;
    height: 70px;
    padding: 12px 20px;

    color: $link-color;

    position: relative;
    display: block;
    background-color: $bg-1;
    background-repeat: no-repeat;
    box-sizing: border-box;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        border-bottom: 1px solid $border-light-blue;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
        border-right: 1px solid $border-light-blue;
    }

    &:hover,
    &:focus {
        transform: scale(1.05);
        border: none;
        z-index: 2;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    }
}

.promo__item--boards {

    .promo__link {
        background-image: url("../img/category-1.jpg");
        background-position: 146px 8px;
    }
}

.promo__item--attachment {

    .promo__link {
        background-image: url("../img/category-2.jpg");
        background-position: 133px 12px;
    }
}

.promo__item--boots {

    .promo__link {
        background-image: url("../img/category-3.jpg");
        background-position: 144px 14px;
    }
}

.promo__item--clothing {

    .promo__link {
        background-image: url("../img/category-4.jpg");
        background-position: 127px 12px;
    }
}

.promo__item--tools {

    .promo__link {
        background-image: url("../img/category-5.jpg");
        background-position: 123px 13px;
    }
}

.promo__item--other {

    .promo__link {
        background-image: url("../img/category-6.jpg");
        background-position: 132px 2px;
    }
}

@media screen and (max-width: 1369px) {

    .promo {
        background-position: -141px 17px;
    }
}

@media screen and (max-width: 1023px) {

    .promo {
        background-position: -430px 17px;
    }
}

@media screen and (max-width: 767px) {

    .promo {
        background-position: -614px 17px;

        padding: 40px 0 35px;
    }

    .promo__list {
        flex-direction: column;
        width: 100%;
    }

    .promo__item {

        .promo__link {
            width: 100%;
            background-position: 90%;
        }
    }
}
