.rates {
    padding-top: 50px;
}

.rates__list {
    width: 100%;
}

.rates__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 10px;

    border-top: 1px solid $border-white;

    &:last-child {
        border-bottom: 1px solid $border-white;
    }

    &--win {
        background-color: $bg-3;

        .rates__title {
            a {
                color: $text-white;
            }
        }

        .rates__category,
        .rates__price,
        .rates__time {
            color: $text-white;
        }
    }

    &--end {
        opacity: 0.4;
    }

    td {
        display: block;
    }
}

.rates__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 460px;

    p {
        font-size: 13px;
        line-height: 13px;

        margin: 0;
    }
}

.rates__img {
    width: 54px;
    height: 40px;

    margin-right: 8px;

    img {
        width: 100%;
        height: 100%;
    }
}

.rates__title {
    @include font($OpenSans-700);
    font-size: 16px;

    margin: 0;

    a {
        color: $text-2;

        &:hover {
            text-decoration: underline;
        }

        &:active {
            color: $text-3;
        }
    }
}

.rates__category {
    @include font($PTSans-400);
    font-size: 13px;
    color: $text-4;

    width: 160px;
}

.rates__timer {
    width: 198px;

    .timer {
        width: 82px;

        box-sizing: border-box;

        &--win {
            width: 112px;

            box-sizing: border-box;
        }

        &--end {
            width: 107px;

            box-sizing: border-box;
        }
    }
}

.rates__price {
    @include font($PTSans-700);
    font-size: 13px;

    width: 135px;
}

.rates__time {
    font-size: 13px;

    min-width: 130px;
}
