.timer {
    font-size: 13px;
    line-height: 18px;
    color: $text-white;

    position: relative;

    height: 26px;
    max-width: fit-content;
    padding: 4px 8px 5px 23px;

    background-color: $bg-9;
    border-radius: 2px;

    &::before {
        content: "";

        position: absolute;
        top: 8px;
        left: 9px;

        width: 12px;
        height: 12px;

        background: url("../img/timer.svg") 0 0 no-repeat;
    }

    &--finishing {
        background-color: $red;
    }

    &--win {
        color: $text-1;

        padding: 6px 8px 5px 8px;

        background-color: $bg-1;

        &::before {
            display: none;
        }
    }

    &--end {
        padding: 6px 8px 5px 8px;

        &::before {
            display: none;
        }
    }
}
